#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-container {
  display: flex;
  flex-flow: row nowrap;
  width: 25em;
  gap: 1em;
}

.timer {
  margin-right: auto;
  padding: 0.6em 2em;
  background-color: #1a1a1a;
}

@media (prefers-color-scheme: light) {
  .timer {
    background-color: #f9f9f9;
  }
}
